.formInput {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 500px;
  margin: auto;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.inputLabel:hover {
  transition: 0.5s;
  border-radius: 5px;
}

.inputTitle {
  text-align: left;
  font-size: 0.8rem;
  color: rgb(53, 53, 53);
  margin-top: 5px;  
  margin-left: 10%;
}

.input {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

}

.input:focus {
  outline: none;
  background: rgb(177, 176, 176);
  color: black;
}

.input:hover {
  background: rgb(177, 176, 176);
  color: black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}