.iconMessage {
  height: 50px;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  max-height: 25px;
  max-width: 50%;
  margin: 10px auto;
  background-color: #4CAF50;
  border-radius: 5px;
  cursor: not-allowed;
};